* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.logo{
  justify-content: center;
}
img{
  padding-right: 50px;
}

.logo h2{
  
  position: relative;
  left: 5%;
}

body {
  background: linear-gradient(5deg, #ea04ff, #ff00d9);
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login {
  background: rgba(245, 245, 245, 0.543);
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  /* box-shadow: 0 10px 30px rgb(255, 0, 81); */
  box-shadow: rgb(0, 0, 0) 1.95px 1.95px 2.6px;
  text-align: center;
}

.Login h2 {
  margin-bottom: 20px;
  color: black;
  
}

.Login h2:hover{
  transition: 1s;
  background: linear-gradient(150deg, #d900ff, #ff0077);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  cursor: pointer;
}

.Login input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.Login button {
  width: 100%;
  padding: 10px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Login button:hover {
  background: #ff00e6;
  transition: 0.2s;
  box-shadow: 0 10px 25px rgb(37, 36, 36);
}

